{% extends 'profesores/padre.html' %} 

{% load static %}    

{% block contenido_que_cambia %}
    {% csrf_token %}

    <form action="{% url 'leerprofesores2' %}">

        <input type="text" name="consulta" placeholder="Buscar.." style="background-color: rgba(234, 234, 234, 0.577);">

    </form> 

    <a href="{% url 'profesores_name' %}" style="color: rgba(234, 234, 234, 0.577); font-size: 20px; " >Añadir Profesor </a>
    <br><br>
    
    
    {%for i in profesores %}
    <br>
        <li>{{i}}</li>    
        <a href="{% url 'eliminarprofesor' profesor_nombre=i.nombre %}" style="color: rgba(255, 1, 1, 0.574);">Eliminar profesor</a>
        <a href="{% url 'EditarProfesor' profesor_nombre=i.nombre %}" style="color: rgba(255, 1, 1, 0.574);">Editar profesor</a>
    <br>
    {%endfor%}
    

{% endblock contenido_que_cambia %}