{% extends 'profesores/padre.html' %} 

{% load static %}    

{% block contenido_que_cambia %}
    {% csrf_token %}
    <a href="{% url 'est_form' %}" style="color: rgb(163, 255, 178, 0.585); font-size: 20px;" >Añadir Estudiante </a>
    <br><br>
    
    {%for estudiante in estudiantes %}
    <br>
        <li>{{estudiante}}</li>
        <a href="{% url 'eliminarestudiante' estudiante_nombre=estudiante.nombre %}" style="color: rgba(255, 1, 1, 0.574);">Eliminar</a>
    <br>
    {%endfor%}

{% endblock contenido_que_cambia %}